<h1>Surveys</h1>

<% if @surveys.any? %>
  <%# <ul> %>
    <% @surveys.each do |survey| %>
      <p><%= link_to survey.title, survey_path(survey) %></p>
    <% end %>
  <%# </ul> %>
<% else %>
  <p>There are no surveys yet.</p>
<% end %>

<div class="links">
  <p><%= link_to "Create new survey", new_survey_path %></p>
</div>